<div id="create-dialog"  class="dialog" title="Criar Atendimento">
  <%= form_tag(id: "create-form") do %>
      <input type="hidden" id="atendimento-id"></input>
      <input type="hidden" id="pago" name="atendimento[pago]"></input>
  <% end %>
</div>
