<table>
  <% @agendamento.attributes.each do |at| %>
    <% next if at[0].include? '_id' %>
    <% break if at[0] == 'created_at' %>
    <tr>
      <td><%= at[0].titlecase %></td>
      <td><%= at[1] %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Editar', edit_admin_agendamento_path(@agendamento) %> |
<%= link_to 'Voltar', admin_agendamentos_path %>
