@import url("Aller/stylesheet.css");
* Credit: http://www.templatemo.com */

/* 
Responsive Template 
http://www.templatemo.com/preview/templatemo_374_responsive 
*/

html { font-size: 12px; }





body {
	font-family: "Aller Lt";
	background: #0f0f0f;
	color: #FFF;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
ul { margin: 0 0 0 0; }
iframe, object, embed { width: 100%; border: none; }



.brand { letter-spacing: 10px; text-transform: uppercase; }
.float_l { float: left }
.float_r { float: right }
.cleaner { clear: both }

.rp_box { clear: both; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px dashed gray }
.rp_box img { float: left; margin-right: 20px }
.rp_box a { text-decoration: none; color: #DAD7D7; }
.rp_box a:hover { color: white; }
.rp_box_wrapper { padding-top: 20px; }

.date { font-style: italic; font-size: 12px; margin-bottom: 5px; color: #aa987a }
.twitter_post { color: #DAD7D7; }
.twitter_post li {	margin-top: 1em; list-style-type: none;	}
.social_buttons a {	text-decoration: none; }

.post_box { clear: both; margin-bottom: 60px }
.post_box h2 { font-size: 20px; font-weight: 400; margin-bottom: 15px }
.post_box img { float: left; margin-right: 30px }
.post_box p { text-align: justify; }

.post_meta { color: #a0a0a0; padding: 2px 0; border: 1px dashed #726144; border-left: none; border-right: none; margin-bottom: 20px; margin-top: 5px;  }
.post_meta i { color: #907244; font-style: italic }
.post_meta a { color: #907244; text-decoration: none; }
.post_meta span { float: right; }

.first_level { margin: 0; padding: 0; }
.image_frame_300 {  width: 280px; height: 140px; padding: 10px; margin-bottom: 20px }

#contact_form { padding-top: 20px; padding-bottom: 30px; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 98%; padding: 5px;	font-family: Tahoma, Geneva, sans-serif; font-size: 1em; }
#contact_form form label { display: block; width: 100px; margin-right: 12px; font-size: 0.9em; }
#contact_form form textarea { width: 98%; height: 160px; padding: 5px; font-family: Tahoma, Geneva, sans-serif;	font-size: 1em; }



#templatemo_cr_bar { margin: 0 auto; padding: 15px 10px; color: #ddd4c5; text-align: center; }

/*http://codepen.io/minimalmonkey/pen/Ecpla*/
/* Wrapper */
.icon-button {
	background-color: #eee;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}
/* minimalmonkey */







#slides1 {
  position: relative;
   z-index: 1;
}

#slides {
  position: relative;
   z-index: 2;
}
#slides .slides-container {
  display: none;
   z-index: 2;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
   z-index: 2;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  top: 90%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
	border: 2px solid #222;
	border-radius: 15px;
	width: 8px;
	height: 8px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;






  *vertical-align: auto;
	zoom: 1;






  *display: inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 4px;
	overflow: hidden;
	text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}




ul#actions
{
    display:none;
}
.actions:hover ul#actions
{
    display: block;
}

ul#actions
{
    display:none;
}
.actions:hover ul#actions
{
    display: block;
}
ul#actions
{
    display:none;
}
#actions:target
{
    display: block;
}


/* submenu styles */
.submenu {
	left: 0;
	max-height: 0;
	position: absolute;
	top: 92px;
	z-index: 0;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	-o-perspective: 400px;
	perspective: 400px;
	height: 478px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}



.sticky-container{
		/*background-color: #333;*/
		padding: 0px;
		margin: 0px;
		position: fixed;
		right: -159px;
		top:130px;
		width: 200px;
z-index:99999;
	}
.sticky-container2{
		/*background-color: #333;*/
		padding: 0px;
		margin: 0px;
		position: fixed;
		right: -19px;
		top:130px;
		width: 200px;
z-index:99999;
	}

	.sticky li{
		list-style-type: none;
		background-color: #333;
		color: #efefef;
		height: 43px;
		padding: 0px;
		margin: 0px 0px 1px 0px;
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
		cursor: pointer;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
                filter: gray; 
                -webkit-filter: grayscale(100%); 

	}

	.sticky li:hover{
		margin-left: -115px;
		/*-webkit-transform: translateX(-115px);
		-moz-transform: translateX(-115px);
		-o-transform: translateX(-115px);
		-ms-transform: translateX(-115px);
		transform:translateX(-115px);*/
		/*background-color: #8e44ad;*/
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
                -webkit-filter: grayscale(0%);
	}

	.sticky li img{
		float: left;
		margin: 5px 5px;
		margin-right: 10px;

	}

	.sticky li p{
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	line-height: 43px;
	font-family: "Aller Lights", "Aller Lt", Aller;

	}

	/** content **/
	.content{
	margin-top: 150px;
	margin-left: 100px;
	width: 700px;
	z-index: 999999999999999;
	}

	

	
  
  
  
  <link rel="stylesheet" type="text/css" href="style.css">
  <style type="text/css">
  body,td,th {
	font-size: 100%;
}






[role='main'] {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  padding: 15px;
  background: #000000000;
  color: #55BADA;
  height: 100%;
  margin-bottom: $footerheight;
  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: -3rem;
    font-size: 0.3rem;
    @include background( 
    linear-gradient(135deg, $backColorTop 25%, transparent 25%) -3em 0,
    linear-gradient(225deg, $backColorTop 25%, transparent 25%) -3em 0);
    background-size: 3rem 100%;
    background-color: $barrierColor;
    height: 3rem;
    width: 100%;
    border: none;
    margin: 0;
  }
}

[role='contentinfo'] {
  height: $footerheight;
  width: 100%;
  text-align: center;
  background: black;
  padding-top: 1em;
  color: #bada55;
  position: fixed;
  bottom: 0; left: 0;}
  
  


.modal {
    color: #333;
}

.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background: black; url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}



































.gamma-container {
	min-height: 655px;
}

.gamma-gallery {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 124%;
	position: relative;
}

.gamma-gallery:before,
.gamma-gallery:after {
    content: " ";
    display: table;
}

.gamma-gallery:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
.gamma-gallery {
    *zoom: 1;
}
 */

.gamma-gallery li {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 4px;
}

.gamma-gallery li img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}

.gamma-description {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	text-align: center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.no-touch .gamma-gallery li:hover .gamma-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 1;
}
 
.gamma-description:before {
	content: '';
	height: 100%;
}

.gamma-description:before,
.gamma-description h3 {
	display: inline-block;
	vertical-align: middle;
}

.gamma-description h3 {
	width: 100%;
	padding: 0 20px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
}

.gamma-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10001;
}

.gamma-buttons button {
	float: left;
	background: #333;
	color: #fff;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
	outline: none;
}

.gamma-buttons button:before,
.gamma-nav span:before {
	font-family: 'entypo-selected';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-align: center;
	opacity: 0.7;
	outline: none;
}

.no-touch .gamma-buttons button:hover {
	background: #666;
}

button.gamma-btn-close:before {
	content: '\2715';
}

button.gamma-btn-ssplay:before {
	content: '\25b6';
}

button.gamma-btn-sspause:before {
	content: '\2389';
}

.gamma-single-view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 10000;
	text-align: center;
	display:none;
}

.gamma-overlay {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	z-index: 9999;
}

.gamma-single-view img {
	position: absolute;
	cursor: pointer;
}

.gamma-description-wrapper {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	padding: 5px 0;
}

.gamma-single-view .gamma-description {
	background: transparent;
	position: relative;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
}

.gamma-single-view .gamma-description h3 {
	font-size: 15px;
	padding: 5px 0;
	color: #fff;
}

.gamma-nav span {
	position: absolute;
	display: block;
	width: 20px;
	height: 38px;
	top: 50%;
	margin-top: -19px;
	left: 20px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.gamma-nav span.gamma-next {
	left: auto;
	right: 20px;
}

.gamma-nav span:before {
	color: #fff;
	opacity: 0.7;
	font-size: 40px;
}

.gamma-nav span:hover:before {
	opacity: 1;
}

.gamma-nav span:before {
	display: block;
	margin: 0;
	width: auto;
}

.gamma-nav span.gamma-prev:before {
	content: '\e75d';
}

.gamma-nav span.gamma-next:before {
	content: '\e75e';
}

.gamma-img-fly {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* Loaders */

.gamma-loading {
	background: transparent url(../images/loader_light.gif) no-repeat center center;
}

.gamma-single-view.gamma-loading {
	background: transparent url(../images/loader_dark.gif) no-repeat center center;
}


/* Make some things unselectable. Remove where selection is needed: */

.gamma-container img,
.gamma-nav span,
.gamma-buttons button,
.gamma-description-wrapper,
.gamma-description,
.gamma-description h3 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 750px) {

	.gamma-description {
		top: 10px;
		left: 10px;
		bottom: 10px;
		right: 10px;
	}

	.gamma-description h3 {
		font-size: 14px;
		padding: 0 5px;
	}

}

@media screen and (max-width: 500px) {

	.gamma-buttons {
		float: left;
		clear: both;
	}

}

.oiii{
	width:1167px;
	height:150px;
	margin:0 auto;
	
}
.oiiit{
	width:1004px;
	height:1750px;
	margin:0 auto;
	text-align:justify;
	
	}
.oiiit2{
	width:1167px;
	height:1750px;
	margin:0 auto;
    background-color:rgba(0,0,0,0.5);
	}
	
		
	.oiiit22{
	width:1004px;
	height:750px;
	margin:0 auto;
	text-align:justify;
	
	}
.oiiit22a{
	width:1167px;
	height:750px;
	margin:0 auto;
    background-color:rgba(0,0,0,0.5);
	}
	
	.backs81{
	
	background-image:url(images/vidalz.jpg);
	
		}
	.backs83{
	
	background-image:url(images/eita.jpg);
	
		}
	.oiiit21a{
	width:1004px;
	height:2250px;
	margin:0 auto;
	text-align:justify;
	
	}
	.oiiit21{
	width:1167px;
	height:2250px;
	margin:0 auto;
    background-color:rgba(0,0,0,0.5);
	}
	
	.oiiit4{
	width: 367px;
	height: 50px;
	margin: 0 auto;
	margin-top: 300px;
	background-color: rgba(0,0,0,0.5);
	z-index: 99999;
	
	}
		.oiiit45{
	width: 567px;
	font-family:"nexa Bold";
	
	height: 150px;
	margin: 0 auto;
	margin-top: 300px;
	background-color: rgba(0,0,0,0.00001);
	z-index: 99999;
	
	}
	
	.oiiit3{
	width:1167px;
	height:5500px;
	margin:0 auto;
    background-color:rgba(15,15,15,2.1);
	}	
	
	.oiiit9{
	width:100%;
	height:800px;
	margin:0 auto;
    background-color:rgba(15,15,15,2.1);
	}
	
	.oiiit10{
	width:567px;
	height:550px;

    background-color:rgba(0,0,0,0.5);
	}
	
	.oiiit11{
	width:500px;
	padding-left: 30px;
	height:550px;
	text-align:justify;
	
	}
	.backs{
	
	background-image:url(batss.jpg);
	
		}
		.backs3{
	
	background-image:url(images/backFoto.jpg);
	
		}
		
		.backs80{
	
	background-image:url(images/backAudio.jpg);
	
		}
		
		.backs1{
	
	background-image:url(img/podcast.jpg);
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100%;
  min-width: 1024px;
	
	
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
  
	
		}
		
		@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .backs1 {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
	
	.noticiacorpo{
		
		}
		
		.noticiacorpo p::first-letter{ font-size: 500%; float: left; }
		
		.categoriamateria{
			width:1167px;
	     margin:0 auto;
	     font-family: "Aller Lt";
	     font-size: 68px;
	     clip: rect(auto,auto,auto,auto);
		}
.categoriamateria2{
			width:1167px;
	     margin:0 auto;
	     font-family: "Aller Lt";
	     font-size: 32px;
	     clip: rect(auto,auto,auto,auto);
		}
		
		
		
		.loadmore {
	padding: 10px;
	background: #ddd;
	color: #111;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	margin: 10px 4px;
	
}

.loadmore:hover {
	background: #333;
}

video#bgvid {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: 1280px;
}

video#bgvid { transition: 1s opacity; }
.stopfade { opacity: .5; }


#footer {
	width:100%;
	height:80px;
	clear: both;
    position: absolute;
    height: 3em;
    margin-top: -3em;
	left:0;
	z-index: 9999999999999;
	background:#000;
	text-height: -99px;
	font-size:20px;
	font-vertical-align: middle;
	
}

#infoss{
	text-align: right;
	position:relative;
	padding-right: 116px;
	vertical-align: middle;
	}
#infoss2{
	text-align: left;
	height: 3em;
    margin-top: -1.2em;
	left:0;
	clear: both;
	padding-left: 116px;
	vertical-align: middle;
	}
	
	#alinhatudo{
		vertical-align: middle;}
		
		
		
		
		/*form styles*/
#msform {
	width: 800px;
	margin: 35px auto;
	text-align: center;
	position: relative;
	z-index: 5;
}



label { 
    float: left; 
    display: block; 
    width: 11em; 
}

.datefield { 
    display: inline; 
    padding: 0.3em; 
    border: inset 1px #CCC; 
    background: #FFF; 
    border-radius: 4px;
    color: #666;
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 1.7em; 
    padding: 0 0.4em; 
    border: none; 
    font-size: 100%; 
    background: none;
    color: #000;            
}

.datefield input#year { width:2.5em; }
.datefield input:focus { outline:none; }

input:required {
  box-shadow: 2px 2px 5px rgba(200, 0, 0, 0.85);
}

/**
 * style input elements that have a required
 * attribute and a focus state
 */
input:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	z-index:6;
    
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
	z-index: -1;
}
/*inputs*/
#msform input, #msform textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: "Aller Lt";
	color: #000000;



	height:20px
	font-size: 15px;
	z-index: 8;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #fc8908;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #000000;
}
/*headings*/
.fs-title {
	font-size: 17px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-family: "Aller Lt";
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 10px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	z-index: -1;
	
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-family:"Aller Lt";
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	font-size: 16px;
	z-index: 9999999999;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #3d7dab;
	color: white;
	
}
